        <form class="form-horizontal" action="/api/artists" method="POST">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New Artist</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="artistName">Artist Name</label>
              <div class="col-md-4">
              <input id="textinput" name="artistName" type="text" placeholder="" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Location">Location</label>
              <div class="col-md-4">
              <input id="Location" name="Location" type="text" placeholder="City, State, Country " class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="age">Age</label>
              <div class="col-md-4">
                <textarea class="form-control" id="age" name="age">Enter numerical value</textarea>
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="genres">Genres (separated by commas)</label>
              <div class="col-md-4">
                <textarea class="form-control" id="genres" name="genres">rock, pop</textarea>
              </div>
            </div>



