<!--

<form action="/venues/%= @venue.id %>" method="put">
  <input type="hidden" name="_method" value="PUT"/>
  <input type="submit" value="Edit"/>
</form> -->

<!-- h1 Edit Post
  form action="/posts/#{@post.id}" method="post"
    input type="hidden" name="_method" value="put"

    label for="post_title" Title:
    input id="post_title" name="post[title]" type="text" value="#{@post.title}"

    label for="post_body" Body:
    textarea id="post_body" name="post[body]" rows="5" #{@post.body}

    input type="submit" value="Save" -->


<form class="form-horizontal" action=<%= "/venues/#{@venue.id}" %> method="POST">
 <input type="hidden" name="_method" value="PUT"/>
  <fieldset>

    <!-- Form Name -->
    <legend>Add New Venues</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Name</label>
      <div class="col-md-4">
      <input id="name" name="venue[name]" type="text" placeholder="<%= @venue.name %>" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="artistName">Venue Name</label>
      <div class="col-md-4">
      <input id="textinput" name="venue_name" type="text" placeholder="" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Location">Location</label>
      <div class="col-md-4">
      <input id="Location" name="location" type="text" placeholder="City, State, Country " class="form-control input-md">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="age_restriction">Age Restriction</label>
      <div class="col-md-4">
        <input id="age_restriction" name="age_restriction" type="checkbox" placeholder="enter true or false" class="form-control input-md">
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="genre">Genres (separated by commas)</label>
      <div class="col-md-4">
        <textarea class="form-control" id="genre" name="venue[genre]">rock, pop</textarea>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="registration_required">Registration Required</label>
      <div class="col-md-4">
      <input id="registration_required" name="registration_required" type="checkbox" placeholder="enter true or false" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="website">Website</label>
      <div class="col-md-4">
      <input id="website" name="website" type="text" placeholder="" class="form-control input-md">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="special_instructions">Special Instructions</label>
      <div class="col-md-4">
        <textarea class="form-control" id="special_instructions" name="special_instructions">How do artists get set up?(what is the age restriction/contact person?)</textarea>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton">Save Venue</label>
      <div class="col-md-4">
        <button id="singlebutton" class="btn btn-primary" type="Submit">Submit</button>

      </div>
    </div>

  </fieldset>
</form>
