

<ul>
<% @venues.each do | venue | %>
  <li>
    <p><strong>"<%= venue.name %>",
    by <%= venue.event_name %></strong>,
    <%= venue.genre %>,
    <%= venue.location %></p>
  </li>
<% end %>
</ul>


