<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Road manager</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_2M24QUCIlczgv88L1AR020CYHwZ8Bhc">

    </script>
    <script src="/scripts/app.js"></script>
    <!-- Latest compiled and minified CSS -->

  <!-- Latest compiled and minified JavaScript -->
    <!-- VENDOR SCRIPTS -->
    <!-- APPLICATION SCRIPTS -->

  </head>
  <body>
    <div class="container-fluid">

    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#indexContent">Road Manager</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/venues">Find Venues</a></li>
                <li><a href="/venues/new">Add a new venue</a></li>
                <li><a href="http://videos.tllis.net">Find featured Artists on The Limelight!</a></li>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>



    <h1 class="title">Road Manager</h1>
    <h2 class="subtitle">Take Your Show On The Road!</h2>
    <img id="mainImg" src="/images/goldshadesapollo.jpg">
      <hr>
      <br>
    <div>
      <%= yield %>
    </div>




  </body>
</html>
