<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Road manager</title>
  </head>
  <body>
    <h1>Take your show on the road!</h1>
    <%= yield %>
    <img src="images/goldshadesapollo.jpg">



  </body>
</html>

