        <form class="form-horizontal" action="/venues" method="POST">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New Venues</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="artistName">Venue Name</label>
              <div class="col-md-4">
              <input id="textinput" name="venue_name" type="text" placeholder="" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Location">Location</label>
              <div class="col-md-4">
              <input id="Location" name="location" type="text" placeholder="City, State, Country " class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="age_restriction">Age Restriction</label>
              <div class="col-md-4">
                <input id="age_restriction" name="age_restriction" placeholder="enter true or false" class="form-control input-md">
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="genre">Genres (separated by commas)</label>
              <div class="col-md-4">
                <textarea class="form-control" id="genre" name="genre">rock, pop</textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="registration_required">Registration Required</label>
              <div class="col-md-4">
              <input id="registration_required" name="registration_required" type="text" placeholder="enter true or false" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="website">Website</label>
              <div class="col-md-4">
              <input id="website" name="website" type="text" placeholder="" class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="special_instructions">Special Instructions</label>
              <div class="col-md-4">
                <textarea class="form-control" id="special_instructions" name="special_instructions">How do artists get set up?(what is the age restriction/contact person?)</textarea>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Venue</label>
              <div class="col-md-4">
                <button id="singlebutton" class="btn btn-primary">Submit</button>
                <button id="hidden singlebutton" type="hidden" value="delete">delete</button>
              </div>
            </div>



          </fieldset>
        </form>
      </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Venues</h2>
        </div>
      </div>
      <!-- artists! -->
      <div id='venues'>




          <!-- one artist -->
          <div class="row artist">

            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">





                  <div class='panel-footer'>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end one artist -->




      </div>
    </section>






