html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  padding-top: 10px;
  margin: 20px;
  margin-left: 210px;
  margin-right: 40px;
  width: 70%;
  height: 300px;
  border-radius: 10px;


}

nav {
  margin-left: -110px;
}

img {
  margin-top: 20px;
  margin-left: 213px;
  width: 840px;
  height: 320px;
  border-radius: 90px;
}

.title {
  margin-left: 500px;
}
.subtitle {
  margin-left: 220px;
}

li {
  list-style-type: none;
}

