html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  padding-top: 5px;
  margin: 20px;
  margin-left: 210px;
  margin-right: 40px;
  width: 70%;
  height: 300px;
  border-radius: 5px;


}

nav {
  margin-left: -110px;
}

img {
  margin-top: 20px;
  margin-left: 263px;
  width: 840px;
  height: 320px;
  border-radius: 90px;
}

.title {
  margin-left: 500px;
}
.subtitle {
  margin-left: 285px;
}

li {
  list-style-type: none;
}

#indexContent {
  max-width: 800px;
  margin-left: 270px;
  background-color:#f4f4f4;
  border-radius: 5px;
}

#centeredText {
  margin-left: 50px;
}

#venueLinks {
  max-width: 700px;
  padding-bottom: 40px;
}
